.bodyMovieInformations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.MovieTitle {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38pt;
  width: 660px;
  height: 90px;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 70px;
}

.VideoCard {
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    100% 100% at 50% 0%,
    #2e2e2e 6.79%,
    #242424 51.92%,
    #212121 100%
  );
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 14px 14px 0px 0px;
  width: 502px;
  height: 751px;
  align-items: start;
  justify-content: end;
  padding-left: 32px;
  gap: 112px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.VideoCard__buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 282px;
}

.RateVideoSection {
  display: flex;
  flex-direction: column;
  margin-top: 69px;
  align-items: center;
  min-width: 400px;
}

.RateVideoSection .RateVideoTitle {
  display: flex;
  align-items: center;
  gap: 18px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.Rates {
  display: flex;
  gap: 34px;
}

.RateVideoNote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.RateVideoNote h1 {
  width: 79px;
  height: 58px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 58px;
  color: #fafafa;
  margin: 0 !important;
}

.RatesStars h5 {
  display: flex;
  flex-direction: row;
  margin: 0 !important;
  gap: 13px;
  width: 250px;
  align-items: center;
  justify-content: center;
}

.RateVideoNote h5 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #eeeeee;
  width: 98px;
  height: 22px;
  margin: 0 !important;
}

.RatesStars {
  display: flex;
  flex-direction: column;
}

.Footer {
  display: flex;
  justify-content: start;
  width: 1222px;
  height: 851px;
  gap: 16px;
}