button.secondaryGrandientButton {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #eeeeee;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  gap: 12px;

  background: linear-gradient(
    180deg,
    rgba(64, 64, 64, 0) -10.31%,
    rgba(64, 64, 64, 0.32) 55.94%,
    rgba(64, 64, 64, 0.8) 122.19%
  );
  border: 1px solid rgba(238, 238, 238, 0.05);

  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
}

button.secondaryGrandientButton:hover {
  cursor: pointer;
}
