.loginModalContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}
.loginModalContent .firstSection {
  background: rgba(238, 238, 238, 0.05);
  height: 100%;
  padding: 72px;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 38px;
  display: flex;
  flex-direction: column;
}
.loginModalContent .firstSection .imageContainer {
  margin-top: 96px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.loginModalContent .secondSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginModalContent .secondSection .inputLabel {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #eeeeee;
}
.loginModalContent .secondSection .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.loginModalContent .secondSection .buttonsSection{
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.loginModalContent .secondSection .buttonsSection .primaryGrandientButton, .secondSection .buttonsSection .secondaryGrandientButton{
  height: 50px!important;
  border-radius: 20px;
}