.miniVideoCard {
  /* Styles for the container div */
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 84.37%; /* Assuming a 16:9 aspect ratio, adjust as needed */
}

.miniVideoCard img {
  /* Styles for the image */
  position: absolute;
  top: 0;
  left: 0;
  width: 62.5%;
  height: 100%;
  object-fit: scale-down; /* Ensures the image fills the container without distortion */
  border-radius: 4px; /* Apply border radius to the image */
  z-index: 1;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Add box shadow to the image */
}
