@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;800&display=swap');

button.primaryGrandientButton {
  cursor:pointer;
  background: linear-gradient(272.56deg, #8ec5fc -13.13%, #e0c3fc 42.75%, #fae69f 82.67%);
  
  border: transparent;

  box-shadow: 0px 100px 80px rgba(145, 156, 174, 0.07),
    0px 41.7776px 33.4221px rgba(145, 156, 174, 0.0503198),
    0px 22.3363px 17.869px rgba(145, 156, 174, 0.0417275),
    0px 12.5216px 10.0172px rgba(145, 156, 174, 0.035),
    0px 6.6501px 5.32008px rgba(145, 156, 174, 0.0282725),
    0px 2.76726px 2.21381px rgba(145, 156, 174, 0.0196802);
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  gap: 12px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #212121;
}
