.dontKnowWhatToWatchgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template: auto;
  gap: 25px;
  padding-bottom: 20px;
}

.dontKnowWhatToWatch .labelSection {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 17pt;
}

.dontKnowWhatToWatchgrid .categoryButton {
  width: 338px;
  height: 56px;

  /* Color/Neutral/800 */

  background: #292929;
  border: 1px solid rgba(238, 238, 238, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 22px;
  color: white;
  font-size: 11pt;
  text-decoration: none;
}
