.trendingSection .labelSection {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 7px;
  font-size: 17pt;
}
.trendingSection {
  width: 100%;
}

.trendingSection .trendingVideosGrid {
  display: grid;
  grid-template: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
